.body{
    border-radius: solid black 2px;
    width: 400px;
 
  margin-left: 15%;
  margin-top:15%
}
body{
    background-color: rgb(210, 188, 232);
}
.container{
    height: 500px;
    margin-top: 85px;
    margin-left: 155px;
    width: 500px;
}


#text1{
    color: green;
    padding: 12px;
    width: 250px;
    font-size: 26px;
    font-weight: 18px;
}

.btn{
    border: solid black 2px;
    padding: 12px 33px;
    font-size: 20px;
    font-weight: 10px;
}
#text2{
   
   
    padding: 12px;
    width: 250px;
    font-size: 26px;
    font-weight: 18px;
    color: green;  

}